body {
  margin: 0;
  padding: 20px;
  font-family: 'Gowun Dodum', sans-serif;
}

.noMargin {
  display: flex;
  width: fit-content;
  margin: 0 auto;
}
.noMargin:nth-of-type(2n) {
  height: 28px;
}

.horizontal {
  display: inline-block;
  height: 2px;
  width: 30px;
}
.vertical {
  display: inline-block;
  height: 30px;
  width: 2px;
}
.square {
  display: inline-block;
  height: 28px;
  width: 28px;
}

.row {
  height: 30px;
}

.structure {
  padding: 30px;
  background-color: white;
}

.container {
  text-align: center;
}

h1 {
  text-transform: uppercase;
}

.button-container {
  display: inline-block;
  padding: 20px;
}

button {
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 1.2em;
  font-weight: bold;
  background-color: cadetblue;
  color: white;
  border-color: white;
}