body {
  margin: 0;
  padding: 0;
}

.noMargin {
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

.horizontal {
  display: inline-block;
  height: 2px;
  width: 40px;
  background-color: black;
}
.vertical {
  display: inline-block;
  height: 40px;
  width: 2px;
  background-color: black;
}
.square {
  height: 38px;
  width: 38px;
}

.row {
  height: 40px;
}

.structure {
  padding: 40px;
}