body {
  margin: 0;
  padding: 0;
}

.horizontal {
  display: inline-block;
  height: 2px;
  width: 40px;
  background-color: black;
}
.vertical {
  display: inline-block;
  height: 40px;
  width: 2px;
  background-color: black;
}

.row {
  height: 40px;
}

.structure {
  padding: 40px;
  text-align: center;
}